################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DLL/.vs/DLL/v15
/Gateway/.vs/Gateway/v15/ipch/AutoPCH/e5fd10f041eadf9d
/Gateway/Gateway/Debug/Gateway.tlog
/Gateway/Gateway/Debug
/Gateway/.vs/Gateway/v15
/Cliente/.vs/Cliente/v15
*.opendb
*.db-shm
*.db-wal
/Cliente/Cliente/Debug/Cliente.tlog
/Cliente/Cliente/Debug
